WorkFlows/ChatBotWhatsappV3.json
{
  "name": "ChatBotWhatsappV3",
  "nodes": [
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -80,
        3392
      ],
      "id": "f1543a8a-8df2-4c2c-8f65-e2b4741fd327",
      "name": "Azure OpenAI Chat Model7"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "reglamento",
          "mode": "list",
          "cachedResultName": "reglamento"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -352,
        3616
      ],
      "id": "ed58cf50-8853-4234-b0bc-a62398cce271",
      "name": "Pinecone Vector Store4"
    },
    {
      "parameters": {
        "description": "Realiza una búsqueda exhaustiva en mi vector store para encontrar y extraer toda la información disponible y pertinente relacionada con el reglamento escolar. Verifica que la información de agente Reglamento sea 100% veraz y recuperada de la vector store"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -144,
        3232
      ],
      "id": "122504bd-1afd-4872-9743-eeac3347c99c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -288,
        3152
      ],
      "id": "4a1d658d-c554-47f3-81d1-9266f9385189",
      "name": "Azure OpenAI Chat Model6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Eres un agente verificador. Tu tarea es revisar si la siguiente respuesta es veraz con base en el contexto proporcionado.\nSi la información verificada es 100% verdadera, entonces el output será el de agente Reglamento, sino, tu crea una con la información verdadera\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -224,
        2992
      ],
      "id": "3855f6dc-c70a-4a38-ab81-e6cd1927f6ee",
      "name": "Agente Verificador"
    },
    {
      "parameters": {
        "content": "# llamadas a APIS externas",
        "height": 800,
        "width": 2760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        1360
      ],
      "id": "64432c4c-0ec4-432b-8e0d-f6d27f02fced",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "collectionName": "n8n_chat",
        "databaseName": "n8n_chatbot_whatsapp",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -592,
        3200
      ],
      "id": "4ba750c8-0ad5-4c44-a54f-83a46a037ab1",
      "name": "MongoDB Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres asistente y trabajas para la universidad autonoma del estado de hidalgo. Ayudas al usuario a navegar por el reglamento del servicio. Tu objetivo es responder preguntas correspondientes al reglamento escolar, responder únicamente con información extraída del vector store.\n\nIntenta responder a todas las preguntas con hechos. Si no sabes la respuesta o no puedes obtener la información del vector store, díselo al usuario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        256,
        2160
      ],
      "id": "1f6061c2-4434-4735-a5e9-ccf11d9b21cb",
      "name": "AgenteRAG"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "options": {
          "categories": "reglamento de servicio social, charla normal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -240,
        2480
      ],
      "id": "2f6f35c6-6621-48a4-9068-db53d4e0d26c",
      "name": "AgenteConversacional"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "collectionName": "n8n_chat_wts",
        "databaseName": "chat_wts",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        608,
        2992
      ],
      "id": "cc938699-1daf-448a-b350-9b5acf8c3349",
      "name": "MongoDB Chat Memory"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        448,
        2976
      ],
      "id": "2f55cb25-5e9f-4a5a-9072-9ef7285afdb4",
      "name": "Azure OpenAI Chat Model5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Actúa como un asistente conversacional amigable. Tu tarea es mantener una conversación simple, clara y coherente con el usuario. Responde de forma breve, natural y fácil de entender, adaptándote al tono del usuario. Si no sabes algo, sé honesto y mantén la conversación fluida."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        384,
        2768
      ],
      "id": "288aec2a-262d-4e95-882a-961fd4676f9b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -144,
        2736
      ],
      "id": "30b72897-20e0-4a88-96bb-fc44194007bf",
      "name": "Azure OpenAI Chat Model4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -192
      ],
      "id": "0fe4a0da-cf9a-42d6-b1da-3d0dfc437cda",
      "name": "Poblar base de conocimiento"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        192,
        672
      ],
      "id": "0cca181a-ddf2-4f27-b95a-d4ca8d3ad047",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        32,
        560
      ],
      "id": "56373e95-fa68-4c70-8085-fd23b8c1dcae",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -192,
        592
      ],
      "id": "9b8a0add-495e-44a9-a2fd-ff76ce9883a3",
      "name": "Embeddings Azure OpenAI3"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "reglamentoservicio",
          "mode": "list",
          "cachedResultName": "reglamentoservicio"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        400
      ],
      "id": "aa9113d4-9fc3-4260-aeb3-b83eaece191e",
      "name": "Pinecone Vector Store3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -288,
        384
      ],
      "id": "c4a6e681-243b-4b9f-99de-6ef03b38df5d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "content": "##### Divide el texto en fragmentos más pequeños (chunks), generalmente con una lógica recursiva basada en caracteres y saltos de línea. ",
        "height": 120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        432
      ],
      "id": "aee3d5f8-fcca-4279-b30e-5f125b085412",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "##### Carga el contenido que proviene del extractor de PDF y lo prepara para ser dividido.",
        "height": 80,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        128
      ],
      "id": "c5f56bd7-4bf6-4a91-be55-7818bb5ee16b",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "#### Este nodo se utiliza para almacenar representaciones vectoriales del contenido extraído (es decir, los embeddings), lo que permite realizar búsquedas semánticas inteligentes. Este nodo se utiliza para almacenar representaciones vectoriales del contenido extraído (es decir, los embeddings), lo que permite realizar búsquedas semánticas inteligentes. ",
        "height": 300,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -272
      ],
      "id": "c23afca2-e379-4cdf-9085-e050471f774e",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "###### Convierte cada fragmento de texto en un vector numérico (embedding), que es una representación semántica del contenido.",
        "height": 100,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        272
      ],
      "id": "4ed6d5f9-bd62-44be-b6b0-5f8d44bcecda",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "#### este nodo procesa el PDF y extrae su contenido en texto plano. Permite convertir el contenido no estructurado del documento en datos legibles y manipulables por los siguientes nodos.",
        "height": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -32
      ],
      "id": "91823866-44a0-41c2-9e3e-88cddb2b4c0f",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "##### Este nodo se encargara de recuperar información acerca del reglamento del servicio social y practicas profesionales",
        "height": 100,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        384
      ],
      "id": "b96b053c-46e1-4f2b-b0f7-2a4fa5755e46",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "##### Este nodo se encargara de recuperar información acerca del reglamento general de la universidad",
        "height": 100,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -16
      ],
      "id": "c42d5d46-7e01-432e-bbe1-cb180dd14de8",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### Esta etapa se divide en 2 partes,la primera se encarga de recuperar El reglamento general de la universidad almacenado en Google Drive, el cual contiene la información que servirá como base de conocimiento para el sistema, la segunda parte recuperara el reglamento del servicio social, esto dando como resultado diferentes tipos de respuestas en caso de que el usuario envie mensaje de texto o mensaje de voz Una vez obtenido, el documento se divide en fragmentos o bloques de texto más pequeños, lo que facilita su procesamiento y permite una indexación más eficiente. Estos fragmentos se almacenan en Pinecone, una base de datos vectorial especializada en búsquedas semánticas, lo que permitirá realizar consultas inteligentes basadas en similitud de significado.",
        "height": 920,
        "width": 1320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        -336
      ],
      "id": "4a01392a-acb6-48ba-a59a-dbd3d8853795",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1fpzM-Hr2uIsmSavwT1EnumeXaQmuKLT-",
          "mode": "list",
          "cachedResultName": "30reglamento_de_servicio_social_y_practicas_profesionales.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1fpzM-Hr2uIsmSavwT1EnumeXaQmuKLT-/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        208
      ],
      "id": "000f12c7-fdf5-418b-92c8-5033c7c793be",
      "name": "Download file1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1vdPJPpkjjE25cwSrwuwTQsiTRG4uL7qf",
          "mode": "list",
          "cachedResultName": "ReglamentoEscolar-Acta348.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1vdPJPpkjjE25cwSrwuwTQsiTRG4uL7qf/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        -192
      ],
      "id": "aa552a8e-ea36-4802-8243-92f69f2ed631",
      "name": "Download file"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        112,
        112
      ],
      "id": "ce72c327-f335-489d-8cca-7677253e6500",
      "name": "Embeddings Azure OpenAI2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "reglamento",
          "mode": "list",
          "cachedResultName": "reglamento"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        -192
      ],
      "id": "d729aa8a-383b-4b7d-a85c-33f43db85a47",
      "name": "Pinecone Vector Store2"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        352,
        352
      ],
      "id": "187e6c80-b5c1-4af3-a5b3-ade429437d62",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        112
      ],
      "id": "cf321187-dc98-407a-84a3-f8e901bcaf55",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -160,
        -192
      ],
      "id": "cde801ff-ff3c-4d8a-b91d-626bf9fd22ed",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "## Mensaje de texto\nEl agente RAG procesara el mensaje del usaurio y contestara basado en el reglamento general de la UAEH",
        "height": 860,
        "width": 1100,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        2896
      ],
      "id": "1a7049d7-337d-4205-9b51-aef75d2da7d2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Mensajes de voz\n\n## Se procesara el mensaje de voz transcribiendose con el modelo  whisperai para que el agente pueda procesaqr una salida, para despues clonar la voz del usuario con el modelo tts y la salida sera el output que proceso el agente con la voz del usuario\n",
        "height": 1580,
        "width": 4620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        1152
      ],
      "id": "51d26550-cd67-4dce-8085-a5c77c1cf188",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Inicio del flujo",
        "height": 320,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        2240
      ],
      "id": "90fce464-5502-49e8-913f-05be3942415d",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# Paso 4 Audio\n## Se resumira la salida del agente para evitar conflictos con la clonacion de voz \n",
        "height": 360,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        2016
      ],
      "id": "8c769672-5785-405c-a39e-d70c25cc3e08",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# Paso 3 Audio \n## El agente RAG recibira el audio transcrito y procesara una salida\n",
        "height": 700,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        2032
      ],
      "id": "4fd9183d-b368-499e-99e8-16e3fa32e02f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Eror, imagenes aun no pueden ser procesadas",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        2848
      ],
      "id": "0bef322c-bfe2-4c2f-8486-6ea8ec94711e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Paso 7 Audio \n## El audio se subira a los servidores de meta para finalmente ser enviado al usuario final",
        "height": 480,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3072,
        1440
      ],
      "id": "3840fa6f-7398-4f89-b44c-fd0f3dfa0e85",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Paso 6 Audio\n## El audio clonado se convertira a un formato soportado por whatsapp usando la api de convertio\n",
        "height": 400,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        1712
      ],
      "id": "adb302e2-81f1-40af-9fe9-57570ca2b0d2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Paso 5 Audio\n## Se recibira el audio del usaurio y la salida del agente para iniciar con la clonacion de voz  \n",
        "height": 480,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        1472
      ],
      "id": "12e01d76-e5b0-4a7f-a60a-24b2f91f7fbd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Paso 2 Audio\n## Se convierte a un formato que pueda procesar el modelo de clonación de vocez\n",
        "height": 360,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1632
      ],
      "id": "71207887-a0f1-4262-bf88-3e42673cf4f2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Paso 1 Audio \n## Se extraera la nota de voz del usuario y se enviara por mdeido de API REST a el modelo de whisper ai",
        "height": 620,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        1696
      ],
      "id": "e79a22c0-27f6-4425-bd29-d6a5595546e7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Manejador de mensajes",
        "height": 420,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        2160
      ],
      "id": "a16f0e22-fdd8-453e-a44d-a63bf46bb9a8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595703990304119",
        "recipientPhoneNumber": "={{ $json.contacts[0].wa_id }}",
        "textBody": "Lo siento, aún no puedo procesar imágenes",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1408,
        2976
      ],
      "id": "29c02a98-f42b-4cd2-8f93-d805ccc099ae",
      "name": "WhatsApp Business Cloud2",
      "webhookId": "7b938f09-7ed5-4594-9adb-72a5283f6398"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        272,
        2608
      ],
      "id": "b24b2b4a-de7b-40a7-a6f2-37fbcf95246e",
      "name": "Embeddings Azure OpenAI1"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        512,
        2368
      ],
      "id": "0847461f-e13f-4995-befd-3b1e2dfe6250",
      "name": "Azure OpenAI Chat Model3"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "reglamentoservicio",
          "mode": "list",
          "cachedResultName": "reglamentoservicio"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        2512
      ],
      "id": "7ab6de6a-6779-477a-8d93-ac6411440197",
      "name": "Pinecone Vector Store1"
    },
    {
      "parameters": {
        "description": "Realiza una búsqueda exhaustiva en mi vector store para encontrar y extraer toda la información disponible y pertinente relacionada con el REGLAMENTO DE SERVICIO SOCIAL Y PRÁCTICAS PROFESIONALES. Organiza y presenta los hallazgos de manera clara."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        416,
        2288
      ],
      "id": "4ef91e90-cc92-452c-b599-b99e31ddc2c0",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        304,
        2352
      ],
      "id": "663726e3-33bf-4a28-a944-561a5f371691",
      "name": "Azure OpenAI Chat Model"
    },
    {
      "parameters": {
        "description": "Realiza una búsqueda exhaustiva en mi vector store para encontrar y extraer toda la información disponible y pertinente relacionada con el reglamento escolar. Organiza y presenta los hallazgos de manera clara."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -464,
        3248
      ],
      "id": "17bd7b53-5c53-4dda-a389-1033f94dc3ed",
      "name": "Base de Conocimiento de Reglamento de la Universidad"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres asistente y trabajas para la universidad autonoma del estado de hidalgo. Ayudas al usuario a navegar por el reglamento escolar. Tu objetivo es responder preguntas correspondientes al reglamento escolar, responder únicamente con información extraída del vector store.\n\nIntenta responder a todas las preguntas con hechos. Si no sabes la respuesta o no puedes obtener la información del vector store, díselo al usuario."
        }
      },
      "id": "3994c463-b6d0-49a5-90f0-1e4357a07888",
      "name": "Agente de Reglamento",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -720,
        3008
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n    \"type\": \"audio\",\n    \"audio\": {\n        \"id\": \"{{ $json.id }}\"\n    }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        1648
      ],
      "id": "23d1e6e3-2173-476d-9bab-3dbee8d48d80",
      "name": "Enviar Audio de Voz Clonada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Message handling').item.json.metadata.phone_number_id }}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "messaging_product",
              "value": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        1648
      ],
      "id": "3fb5208b-ff3b-4704-9475-6adb77d52e50",
      "name": "Subir Audio a Servidores Meta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://convertapp.blackmeadow-9ec94124.eastus.azurecontainerapps.io/convert/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        1920
      ],
      "id": "8b84cc70-6a45-4e84-9382-126626cec851",
      "name": "Subir audio a Convertidor ogg"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ttsappajgd.ashydune-b46669a5.eastus.azurecontainerapps.io/clone-voice/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        1712
      ],
      "id": "5b036524-df08-4d4c-815b-3273dd42e56b",
      "name": "Clonación de voz usando el modelo XTTS"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        1712
      ],
      "id": "038945e7-3c85-42ef-ac13-acd45b344b0b",
      "name": "Unir Ambos Outputs necesarios para solicitar a la API"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "resume el texto lo mejor posible sin perder la idea principal\nimportante: No abrevies a \"UAEH\" y no excedas los 239 caracteres"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        752,
        2192
      ],
      "id": "6ea06e84-cb46-4500-8465-b029d26a1ded",
      "name": "Resumir OutPut de Agente "
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://whisper-api.graysea-f1cdff22.eastus.azurecontainerapps.io/transcribe/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        2192
      ],
      "id": "e0f2ba30-ccfc-46e7-bd33-19956ded27f8",
      "name": "Transcribir Audio a Texto con Whisper ai",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        1792
      ],
      "id": "b723ec05-978e-4939-bdc6-ba0c6074a826",
      "name": "Obtener wav de URL"
    },
    {
      "parameters": {
        "jsCode": "//extrae solo el url del json obtenido\nconst items = $input.all();\nconst url = items.map((item) => JSON.parse(item.json.data).output.url);\nreturn { url };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1792
      ],
      "id": "fc1d6b46-adff-493a-8e05-2efb5a004a8b",
      "name": "Extraer URL de Descarga"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.docspal.com/api/convert?key=282bdcf3ddae0ebf748b07576158f4f121a4de8a29184ad89297b7571251bb42",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "to-format",
              "value": "wav"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        1792
      ],
      "id": "7a6d846b-c64d-48a1-b3f0-309b54c51228",
      "name": "Convertir ogg a wav"
    },
    {
      "parameters": {
        "url": "={{$node[\"Obtener JSON de Audio\"].json[\"body\"][\"url\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAPv0bFEKukBOyVM05KondI0vUz3jSwbs5zcWO0fVzolTdJpKC8ZCXtvcZCEv1fBlzI5WNy9L8dk0fZAcZCwRZBbBlIY70i5CdgEOY4uX4GwFJEoWdENZCho5PleVbfZBUB6Qd0kQPHrynxifLu9ZATcMYGtNxwqsJkKOhqpZBRPv92bIPMppm5goEEbNN6jX6S6601HjnBT8m4wFvjM8mLhW5n8Mc7mKZCklgQ0ZCPJHMo6Ymnj00UZCHYZD"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        1920
      ],
      "id": "7775349d-5d73-45a5-8b75-9d3c94aaf262",
      "name": "Obtener Binario ogg de JSON"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].audio.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  EAAPv0bFEKukBOyVM05KondI0vUz3jSwbs5zcWO0fVzolTdJpKC8ZCXtvcZCEv1fBlzI5WNy9L8dk0fZAcZCwRZBbBlIY70i5CdgEOY4uX4GwFJEoWdENZCho5PleVbfZBUB6Qd0kQPHrynxifLu9ZATcMYGtNxwqsJkKOhqpZBRPv92bIPMppm5goEEbNN6jX6S6601HjnBT8m4wFvjM8mLhW5n8Mc7mKZCklgQ0ZCPJHMo6Ymnj00UZCHYZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        1920
      ],
      "id": "2674cf5f-1da0-4048-8899-bcc39e97b9ea",
      "name": "Obtener JSON de Audio"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        2256
      ],
      "id": "b6749cab-7e41-4705-8703-aecf0bd27f1d",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -784,
        3520
      ],
      "id": "cb92c272-23c5-414c-97ca-8d69792abc05",
      "name": "Embeddings Azure OpenAI"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "reglamento",
          "mode": "list",
          "cachedResultName": "reglamento"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -640,
        3408
      ],
      "id": "3805dfc3-29c1-42ef-b695-3a3fc353a2d7",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -272,
        3392
      ],
      "id": "5fd64277-8d76-43ee-bb4a-080358ba0c05",
      "name": "Azure OpenAI Chat Model1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"WhatsApp Trigger\").item.json.messages[0].audio.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "32993800-0edf-42c0-8fb9-9b731bb18116"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bc8fab4-59b7-4825-8edd-8c7425dad008",
                    "leftValue": "={{$(\"WhatsApp Trigger\").item.json.messages[0].text.body}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c51b2fb-3364-4082-bc9d-051500017f22",
                    "leftValue": "={{$(\"WhatsApp Trigger\").item.json.messages[0].image.id}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1392,
        2336
      ],
      "id": "591dc262-c9c5-41e9-9d6c-271538a829cb",
      "name": "Message handling"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595703990304119",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        352,
        3008
      ],
      "id": "b401bcc6-7fe1-4558-9647-ad9efc421bcd",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "f48a1c71-7a5c-4db6-b8aa-e005d7f01b11"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -768,
        3232
      ],
      "id": "248fb933-703d-41b8-89f1-9558d62c70c3",
      "name": "Azure OpenAI Chat Model2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595703990304119",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=Texto transcrito detectado: \n{{ $('Transcribir Audio a Texto con Whisper ai').item.json.text }}\nSalida: \n{{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1088,
        2512
      ],
      "id": "a076bbc5-1c7c-4997-8bdf-32408ef25080",
      "name": "WhatsApp Business Cloud",
      "webhookId": "c28fdf18-f5ca-4cd6-ac2f-d0f979a2b7ff"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        2352
      ],
      "id": "e271a53c-ce48-435d-a178-946c49bc9c50",
      "name": "WhatsApp Trigger",
      "webhookId": "0d773846-0850-493e-87b3-8706bcfa97c2"
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store4": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Agente Verificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Verificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AgenteConversacional": {
      "main": [
        [
          {
            "node": "AgenteRAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteConversacional",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poblar base de conocimiento": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AgenteRAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteRAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Context": {
      "ai_memory": [
        [
          {
            "node": "Agente de Reglamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Base de Conocimiento de Reglamento de la Universidad": {
      "ai_tool": [
        [
          {
            "node": "Agente de Reglamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Reglamento": {
      "main": [
        [
          {
            "node": "Agente Verificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Audio a Servidores Meta": {
      "main": [
        [
          {
            "node": "Enviar Audio de Voz Clonada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir audio a Convertidor ogg": {
      "main": [
        [
          {
            "node": "Subir Audio a Servidores Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clonación de voz usando el modelo XTTS": {
      "main": [
        [
          {
            "node": "Subir audio a Convertidor ogg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRAG": {
      "main": [
        [
          {
            "node": "Resumir OutPut de Agente ",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Resumir OutPut de Agente ",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Ambos Outputs necesarios para solicitar a la API": {
      "main": [
        [
          {
            "node": "Clonación de voz usando el modelo XTTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumir OutPut de Agente ": {
      "main": [
        [
          {
            "node": "Unir Ambos Outputs necesarios para solicitar a la API",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transcribir Audio a Texto con Whisper ai": {
      "main": [
        [
          {
            "node": "AgenteConversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener wav de URL": {
      "main": [
        [
          {
            "node": "Unir Ambos Outputs necesarios para solicitar a la API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer URL de Descarga": {
      "main": [
        [
          {
            "node": "Obtener wav de URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir ogg a wav": {
      "main": [
        [
          {
            "node": "Extraer URL de Descarga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Binario ogg de JSON": {
      "main": [
        [
          {
            "node": "Transcribir Audio a Texto con Whisper ai",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convertir ogg a wav",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener JSON de Audio": {
      "main": [
        [
          {
            "node": "Obtener Binario ogg de JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resumir OutPut de Agente ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Base de Conocimiento de Reglamento de la Universidad",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Base de Conocimiento de Reglamento de la Universidad",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message handling": {
      "main": [
        [
          {
            "node": "Obtener JSON de Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de Reglamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Verificador": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Reglamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Message handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9cf63fe-c322-40de-98c1-83b19e6bc9a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc644d9e9b7920e96094707a8751586188d150285dff7512ebe15f04af2b87"
  },
  "id": "MAqFWnusSsRjbZgj",
  "tags": []
}