WorkFlows/ChatbotWhatsappV1.json
{
  "name": "ChatbotWhatsappV1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }} ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1136,
        272
      ],
      "id": "43c6ecad-5f83-4554-8854-b65156c6e32e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1168,
        448
      ],
      "id": "a978522a-e6f2-46c5-957a-34a0dbf49bb1",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        144
      ],
      "id": "9e8628f6-2487-48be-9b58-9c133a9c73df",
      "name": "WhatsApp Trigger",
      "webhookId": "0d773846-0850-493e-87b3-8706bcfa97c2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595703990304119",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -64,
        208
      ],
      "id": "91dd4781-40c4-4708-b5b9-413a329b5c94",
      "name": "WhatsApp Business Cloud",
      "webhookId": "c28fdf18-f5ca-4cd6-ac2f-d0f979a2b7ff"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e4cbd6-76d7-403a-81ed-57645ad68f0e",
              "leftValue": "={{ $(\"WhatsApp Trigger\").item.json.messages[0].audio.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        48
      ],
      "id": "d32616fe-80c0-47f7-9f91-82e864abdaa3",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c287c4d0-eb23-44e0-b8d0-ef84eb1265f1",
              "leftValue": "={{$(\"WhatsApp Trigger\").item.json.messages[0].text.body}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        272
      ],
      "id": "a936f34c-12d7-435c-a878-582d6bde150b",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].audio.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  EAAPv0bFEKukBOyVM05KondI0vUz3jSwbs5zcWO0fVzolTdJpKC8ZCXtvcZCEv1fBlzI5WNy9L8dk0fZAcZCwRZBbBlIY70i5CdgEOY4uX4GwFJEoWdENZCho5PleVbfZBUB6Qd0kQPHrynxifLu9ZATcMYGtNxwqsJkKOhqpZBRPv92bIPMppm5goEEbNN6jX6S6601HjnBT8m4wFvjM8mLhW5n8Mc7mKZCklgQ0ZCPJHMo6Ymnj00UZCHYZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        -32
      ],
      "id": "fd3b1ae0-a875-4d88-a8d8-ccaa4c76e8a9",
      "name": "HTTP download"
    },
    {
      "parameters": {
        "url": "={{$node[\"HTTP download\"].json[\"body\"][\"url\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAPv0bFEKukBOyVM05KondI0vUz3jSwbs5zcWO0fVzolTdJpKC8ZCXtvcZCEv1fBlzI5WNy9L8dk0fZAcZCwRZBbBlIY70i5CdgEOY4uX4GwFJEoWdENZCho5PleVbfZBUB6Qd0kQPHrynxifLu9ZATcMYGtNxwqsJkKOhqpZBRPv92bIPMppm5goEEbNN6jX6S6601HjnBT8m4wFvjM8mLhW5n8Mc7mKZCklgQ0ZCPJHMo6Ymnj00UZCHYZD"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        -80
      ],
      "id": "7a8ce83b-f453-4602-af3c-040fb9161c0f",
      "name": "HTTP convert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctseyxjg4cau.share.zrok.io/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        -96
      ],
      "id": "1fe7c6f3-8427-4bbe-9fec-45a9106f0d02",
      "name": "whisper",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -464,
        -96
      ],
      "id": "ab766261-33fd-48f1-863d-185d9621670d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        64
      ],
      "id": "f9a08d2c-f509-4f13-95df-0a0e4f576eaa",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "databaseName": "whatsapp_chatbot_history_voice"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -368,
        64
      ],
      "id": "7d0403f5-0691-4af4-a735-6d118ca960bc",
      "name": "MongoDB Chat Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "databaseName": "Chatbot_Whatsapp_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -1040,
        496
      ],
      "id": "58faa690-3af8-4645-bd25-e5ca06f8b318",
      "name": "MongoDB Chat Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP download": {
      "main": [
        [
          {
            "node": "HTTP convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP convert": {
      "main": [
        [
          {
            "node": "whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whisper": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d2d25fb-3db2-4776-b351-f4caff5d0415",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc644d9e9b7920e96094707a8751586188d150285dff7512ebe15f04af2b87"
  },
  "id": "RZdp4nXlkq3DFs3d",
  "tags": []
}