WorkFlows/ChatbotWhatsAppV2.json
{
  "name": "ChatbotWhatsAppV2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }} ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1136,
        48
      ],
      "id": "5a1c16af-97b4-4afb-8a3d-941526045ef5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1168,
        224
      ],
      "id": "f36598cb-9b85-48a6-8dcb-1eadc1d61cf2",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        -80
      ],
      "id": "5ea7e5ec-b435-46d2-bb2f-6d447b83d993",
      "name": "WhatsApp Trigger",
      "webhookId": "0d773846-0850-493e-87b3-8706bcfa97c2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595703990304119",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -64,
        -32
      ],
      "id": "29c4373e-1462-4f6f-8428-8bf4bc36e035",
      "name": "WhatsApp Business Cloud",
      "webhookId": "c28fdf18-f5ca-4cd6-ac2f-d0f979a2b7ff"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e4cbd6-76d7-403a-81ed-57645ad68f0e",
              "leftValue": "={{ $(\"WhatsApp Trigger\").item.json.messages[0].audio.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        -192
      ],
      "id": "7c519439-9b60-4f92-b570-fd26b494fcf6",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c287c4d0-eb23-44e0-b8d0-ef84eb1265f1",
              "leftValue": "={{$(\"WhatsApp Trigger\").item.json.messages[0].text.body}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        48
      ],
      "id": "31d84e19-d9ec-4f59-b13d-2c73b2fd1f06",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].audio.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  EAAPv0bFEKukBOyVM05KondI0vUz3jSwbs5zcWO0fVzolTdJpKC8ZCXtvcZCEv1fBlzI5WNy9L8dk0fZAcZCwRZBbBlIY70i5CdgEOY4uX4GwFJEoWdENZCho5PleVbfZBUB6Qd0kQPHrynxifLu9ZATcMYGtNxwqsJkKOhqpZBRPv92bIPMppm5goEEbNN6jX6S6601HjnBT8m4wFvjM8mLhW5n8Mc7mKZCklgQ0ZCPJHMo6Ymnj00UZCHYZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        -272
      ],
      "id": "d52689c4-b759-4443-ac6e-68c2593024aa",
      "name": "HTTP download"
    },
    {
      "parameters": {
        "url": "={{$node[\"HTTP download\"].json[\"body\"][\"url\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAPv0bFEKukBOyVM05KondI0vUz3jSwbs5zcWO0fVzolTdJpKC8ZCXtvcZCEv1fBlzI5WNy9L8dk0fZAcZCwRZBbBlIY70i5CdgEOY4uX4GwFJEoWdENZCho5PleVbfZBUB6Qd0kQPHrynxifLu9ZATcMYGtNxwqsJkKOhqpZBRPv92bIPMppm5goEEbNN6jX6S6601HjnBT8m4wFvjM8mLhW5n8Mc7mKZCklgQ0ZCPJHMo6Ymnj00UZCHYZD"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        -304
      ],
      "id": "eea299b8-f3a3-43fc-b639-9a4df095b173",
      "name": "HTTP convert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctseyxjg4cau.share.zrok.io/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        -320
      ],
      "id": "00a88699-0b5d-4b8a-8336-c1c1fa2558ee",
      "name": "whisper",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -464,
        -320
      ],
      "id": "395a95ad-207f-4799-a415-97e452c38271",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        -160
      ],
      "id": "cf55e5cd-a5cc-46bd-8814-e9f61907efdb",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "databaseName": "whatsapp_chatbot_history_voice"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -368,
        -160
      ],
      "id": "0adf7310-9310-416d-96f0-1a637e0a6832",
      "name": "MongoDB Chat Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "databaseName": "Chatbot_Whatsapp_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -1040,
        256
      ],
      "id": "bce0fe4e-8967-4916-97a8-180b4b5212cc",
      "name": "MongoDB Chat Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP download": {
      "main": [
        [
          {
            "node": "HTTP convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP convert": {
      "main": [
        [
          {
            "node": "whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whisper": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "832d0ab3-4985-468d-945d-4e998db2387b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc644d9e9b7920e96094707a8751586188d150285dff7512ebe15f04af2b87"
  },
  "id": "MAqFWnusSsRjbZgj",
  "tags": []
}